body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-width: 100%;
}

.main {
  min-width: 100%;
}

.app {
  min-width: 100%;
}


/* ====== FRONT ====== */
.front-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url("../images/blur-blurred-eco-9257.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

.logo-container {
  background: white;
  text-align: center;
  margin-bottom: 30px;
}

.front-container p {
  text-align: center;
  font-size: 32px;
}

.front-buttons {
  display: flex;
  justify-content: center;
}

.front-buttons button {
  margin: 10px;
  color: white;
  font-size: 30px;
  padding: 20px 30px;
  width: auto;
  height: auto;
  border: 1px solid white;
}

.front-buttons button:hover {
  color: #17db26;
}


/* ====== Log in and Register Form Pages ====== */
.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/blur-blurred-eco-9257.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: white;
}

form {
  text-align: center;
  margin-top: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  min-width: 400px;
}

fieldset {
  border: 2px solid white;
  margin: auto;
  width: 100%;
  border-radius: 15px;
}

input {
  margin: 0;
  width: 80%;
}

input[type="submit"] {
  margin: 25px;
  color: white;
  font-size: 18px;
  width: 80%;
  height: auto;
  border: 1px solid white;
}

input[type="submit"]:hover {
  color: #17db26;
  border: 1px solid #bbb;
}

.login-register button {
  margin: 25px;
  color: white;
  font-size: 18px;
  width: 200px;
  height: auto;
  border: 1px solid white;
}

.login-register button:hover {
  color: #17db26;
  border: 1px solid #bbb;
}

input {
  font-size: 20px;
}

/* ====== User and Employee Pages (use grid) ====== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid green;
}

.small-logo {
  max-height: 100px;
}

.header h2 {
  margin: 0;
}

.requests {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  box-sizing: border-box;
  grid-template-areas: "request request request request";
  margin: 20px;
  justify-content: center;
}

.request {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid black;
}

.delete {
  align-self: flex-end;
}

/* ====== Provided Services (use grid) ====== */




/* ====== Edit Service ====== */


/* ====== Add Service ====== */
